*{
    font-family: Helvetica, sans-serif;
    color: white;
}

#title {
    text-align: center;
    font-size: 40px;
}

#main {
    margin: auto;
}

#img-div {
    align-items: center;
}

#img-caption {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
}

#tribute-info {
    margin: auto;
    max-width: 80%;
}

#tribute-link {

}

#image {
    margin: auto;

}

img {
    display: block;
    max-width: 100%;
    
}

h2, h3, p {
    text-align: center;
}

#subtitle {
    margin-top: -25px;
}

body {
    background-color: slategray;
}